.vagrant/
*.log
ssh_config
*.retry
*.retry
ansible_venv_py310/
venv/
vagrant_private_key
vagrant_private_key_new
*.pem
id_rsa*
id_rsa_pub
vagrant_private_key*
__pycache__/
*.pyc
.cache/
.pytest_cache/
roles/*/molecule/*/ephemeral/
roles/*/molecule/*/created
.DS_Store
Thumbs.db
.vscode/
.idea/
