apiVersion: 1

datasources:
  - name: Loki
    type: loki
    uid: loki-ds
    url: http://localhost:{{ loki_port }}
    access: proxy
    isDefault: false
    editable: true
    
    jsonData:
      maxLines: 1000
      
      derivedFields:
        - name: HotROD Trace
          matcherRegex: '"trace_id":\s*"(\w+)"'
          url: '$${__value.raw}'
          datasourceUid: tempo-ds
          urlDisplayLabel: 'View Trace'
