apiVersion: 1
datasources:
  - name: Loki
    type: loki
    uid: loki-ds
    url: http://localhost:{{ loki_port }}
    access: proxy
    version: 1
    jsonData:
      derivedFields:
        - name: Trace Link
          matcherRegex: "traceID=(\\w+)"
          url: "$${__value.raw}"
          datasourceUid: tempo-ds
