apiVersion: 1

datasources:
  - name: Loki
    type: loki
    uid: loki-ds
    url: http://localhost:{{ loki_port }}
    access: proxy
    isDefault: false
    editable: true
    
    jsonData:
      maxLines: 1000
      
      derivedFields:
        - name: TraceID (JSON)
          matcherRegex: '"traceID":\s*"([a-fA-F0-9]{16,32})"'
          url: '$${__value.raw}'
          datasourceUid: tempo-ds
          urlDisplayLabel: 'View Trace'
        
        - name: TraceID (keyval)
          matcherRegex: 'traceID[=:]([a-fA-F0-9]{16,32})'
          url: '$${__value.raw}'
          datasourceUid: tempo-ds
          urlDisplayLabel: 'View Trace'
        
        - name: trace_id
          matcherRegex: 'trace_id[=:]([a-fA-F0-9]{16,32})'
          url: '$${__value.raw}'
          datasourceUid: tempo-ds
          urlDisplayLabel: 'View Trace'
        
        - name: TraceID (Jaeger)
          matcherRegex: 'traceID[=:]([a-fA-F0-9]{16})'
          url: '$${__value.raw}'
          datasourceUid: tempo-ds
          urlDisplayLabel: 'View Trace'
