apiVersion: 1

datasources:
  - name: Tempo
    type: tempo
    uid: tempo-ds
    url: http://localhost:{{ tempo_port }}
    access: proxy
    isDefault: false
    editable: true

    jsonData:      
      tracesToLogsV2:
        datasourceUid: loki-ds

        tags: ['service.name']

        filterByTraceID: false
        filterBySpanID: false

        spanStartTimeShift: '-4h'
        spanEndTimeShift: '4h'

        customQuery: true
        query: '{job="docker"} |= "$${__trace.traceId}"'

      nodeGraph:
        enabled: true

      search:
        hide: false
