apiVersion: 1

datasources:
  - name: Tempo
    type: tempo
    uid: tempo-ds
    url: http://localhost:{{ tempo_port }}
    access: proxy
    isDefault: false
    editable: true

    jsonData:
      httpMethod: GET
      
      tracesToLogs:
        datasourceUid: loki-ds
        
        mappedTags:
          - key: 'traceID'
            value: '__trace.traceId'

        
        filterByTraceID: false
        filterBySpanID: false

        
        spanStartTimeShift: '5m'
        spanEndTimeShift: '5m'
        
        customQuery: true
        query: |
          {job="docker"}
          | regexp ".*(?P<json>{.*})"
          | json
          | trace_id="${__trace.traceId}"
