dependency:
  name: galaxy
  options:
    ignore-certs: true
    ignore-errors: true
  enabled: false

driver:
  name: docker
platforms:
  - name: instance
    image: "ubuntu:focal"
    pre_build_image: true
    command: sleep infinity
    published_ports:
      - "3000:3000"
      - "3100:3100"
      - "3200:3200"

provisioner:
  name: ansible
  config_options:
    default:
      roles_path: ../../../

verifier:
  name: ansible

scenario:
  name: default
  test_sequence:
    - dependency
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - converge
    - idempotence
    - verify
    - cleanup
    - destroy
