name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  molecule:
    name: Molecule Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        role:
          - startup_mon01

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ansible-core molecule molecule-docker docker ansible-compat ansible-lint

      - name: Install Ansible Collections
        run: |
          ansible-galaxy collection install community.docker ansible.posix

      - name: Run Molecule tests
        working-directory: roles/${{ matrix.role }}
        run: molecule test
        env:
          ANSIBLE_FORCE_COLOR: '1'